
@font-face {
  font-family:"ibm9x16";
  src:url("img/WebPlus_IBM_VGA_9x16.woff");
}

html {
  background-color: #111111;
  font-family: "ibm9x16", serif;
  color: grey;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: deeppink;
  color: midnightblue;
}

::selection {
  background: deeppink;
  color: midnightblue;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



h1 {
  font-size:3em;
  line-height: 0.8em;
  margin: 0 0 0 1rem;
}
body {
  cursor: url("img/cursor1.png"), auto;
  width:100vw;
  height:100vh;
  overflow: clip;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  padding:0;
  * {
    image-rendering: pixelated;
  }
}
#positioner{
  width:80vw;
  height:60vh;
}

a,button{
  all:unset;
  cursor: url("img/cursor2.png"), auto;

}

#wrapper{
  display:flex;
  flex-direction: column;
  margin-left: 1em;
  h2{
    margin:0;
    line-height: 0.8em;
    padding: 0;
  }
  h2:nth-child(3){
    a{
      display: inline-block;
      position: relative;
      color: red;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        z-index: -1;
        transform: scaleX(0);
        height: 100%;
        bottom: 0;
        left: 0;
        background-color:red;
        transform-origin: bottom right;
        transition: transform 0.5s steps(6);
      }
      &:hover{
        color:black;
        &::before{
          content:" > ";
        }
        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
  h2:nth-child(5){
    a {
      display: inline-block;
      position: relative;
      color: gold;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        z-index: -1;
        transform: scaleX(0);
        height: 100%;
        bottom: 0;
        left: 0;
        background-color:gold;
        transform-origin: bottom right;
        transition: transform 0.5s steps(6);
      }
      &:hover{
        color:black;
        &::before{
          content:" > ";
        }
        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
  h2:nth-child(7){
    a {
      display: inline-block;
      position: relative;
      color: royalblue;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        z-index: -1;
        transform: scaleX(0);
        height: 100%;
        bottom: 0;
        left: 0;
        background-color:royalblue;
        transform-origin: bottom right;
        transition: transform 0.5s steps(6);
      }
      &:hover{
        color:black;
        &::before{
          content:" > ";
        }
        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
  h2:nth-child(9){
    a {
      display: inline-block;
      position: relative;
      color: cyan;
      &::after {
        content: '';
        position: absolute;
        width: 100%;
        z-index: -1;
        transform: scaleX(0);
        height: 100%;
        bottom: 0;
        left: 0;
        background-color:cyan;
        transform-origin: bottom right;
        transition: transform 0.5s steps(6);
      }
      &:hover{
        color:black;
        &::before{
          content:" > ";
        }
        &::after {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}
header {
  display: flex;
  flex-direction: row;
  background: grey;
  color:black;
  *{  margin: 0;
    padding:0;
    height: 1em;
    line-height: 1em}
  h2:nth-child(1){
    &.notCurrent{
      &:hover{background-color: lightgrey}
    }
  }
  h2:nth-child(2){
    &.currentPage{
      background-color: black;
      color:red;
    }
    &.notCurrent{
      &:hover{background-color: lightgrey}
    }
  }
  h2:nth-child(3){
    &.currentPage{ background-color: black;
      color:gold;}
    &.notCurrent{
      &:hover{background-color: lightgrey}
    }
  }
  h2:nth-child(4){
    &.currentPage{ background-color: black;
      color:royalblue;}
    &.notCurrent{
      &:hover{background-color: lightgrey}
    }
  }
  h2:nth-child(5){
    &.currentPage{ background-color: black;
      color:cyan;}
    &.notCurrent{
      &:hover{background-color: lightgrey}
    }
  }
}

#bio{
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "avatar text"
    "stats options";
  gap: 1em;
  img{
    width:100%;
    /*border:5px red solid;*/
    grid-area: avatar;
  }
  #biotext{
    grid-area: text;
    /*border:5px red solid;*/
    padding:1em;
    font-size: 1.5em;
  }
  #options{
    font-size: 1.3em;
    /*grid-area: options;*/
    ul {
      font-size: 1.5rem;
      li{
        list-style-type: none;
        &:hover{cursor: url("img/cursor2.png"), auto;}
      }

      li:nth-child(1){
        color:red;
        opacity:0.5;
        &:hover{  opacity:1;}
      }
      li:nth-child(2){
        color:gold;
        opacity:0.5;
        &:hover{  opacity:1;}
      }
      li:nth-child(3){
        color:royalblue;
        opacity:0.5;
        &:hover{  opacity:1;}
      }
      li:nth-child(4){
        color:cyan;
        opacity:0.5;
        &:hover{  opacity:1;}
      }

    }
  }
}
#linkList {
  font-size: 1em;
  color:red;
  p{
    color:cyan;
    display:inline;
    opacity:0.5;
  }
  a{
    font-size: 2em;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}


.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}
