
@font-face {
  font-family:"ibm9x16";
  src:url("img/WebPlus_IBM_VGA_9x16.woff");
}
@font-face {
  font-family:"cutout";
  src:url("img/215000e.regular.ttf");
}
@font-face {
  font-family:"chawp";
  src:url("img/chawp.regular.otf");
}

:root{
  --red: #EF0220;
  --gold: #E4960E;
  --cyan: #218f84;
  --dBlue:#231578;
  --black:black;
  --white:#E0DEDE;
}

html {
  background-color: white;
  font-family: "ibm9x16", serif;
  color: grey;
  font-size: 1em;
  line-height: 1.4;
  background-image: url("img/scrumple.jpg");
  background-blend-mode: exclusion;
}

::-moz-selection {
  background: deeppink;
  color: midnightblue;
}

::selection {
  background: deeppink;
  color: midnightblue;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#bigwrap{
  display: flex;
  width:100%;
  justify-content: center;
  flex-direction: row;
  gap:2em;
}

main{
  margin:1em;
  font-family: cutout, sans-serif;
  color:var(--red);
  font-size: 2em;
}
main p{
  font-family: "ibm9x16", serif;
  font-size: 16pt;
  color: var(--cyan);
}
.Sidebar{


  display:flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width:20vw;
  background-color: #000000aa;
  background-image: url("img/demaged-paper-2024-01-05-19-04-16-utc/1.png");
  color:var( --gold);
  text-align: center;
  border: var(--white) 3px solid;
}
#teethies{
  position:absolute;
  bottom:0;
  left:0;
  pointer-events: none;
  width:auto;
  filter: blur(2px);
}
.main{
  display:flex;
  width:40em;
  height:70vh;
  position: relative;
  background-color: var(--dBlue);
  background-image: url("img/old-paper-textures-2024-01-05-19-12-17-utc/7.jpg");
  background-blend-mode: multiply;
  padding:2em;
  border: var(--red) 4px solid;

}
#lowerjaw{
  width:50em;
  position:absolute;
  bottom:-5em;
  left:-3.5em;
  pointer-events: none;
}
#stickers{
  width:15em;
  position:absolute;
  bottom:5em;
  left:-6.5em;
}
#sticky1{
  width:22em;
  filter: brightness(75%)drop-shadow(10px 10px 15px black) ;
  left:0;margin-top:-15em;
  transform: rotate(-12deg);
  position:absolute;
  transform-origin: top right;
}
#sticky1:hover{
  animation: swing 1s forwards;
}

#sticky2:hover{
  animation: swing2 1s forwards;
}
@keyframes swing {
  0%{
    transform: rotate(-15deg);
  }
  20%{
    transform: rotate(-20deg);
  }
  100%{
    transform: rotate(-20deg);
  }
}
@keyframes swing2 {
  0%{
    transform: rotate(15deg);
  }
  20%{
    transform: rotate(20deg);
  }
  100%{
    transform: rotate(20deg);
  }
}


.imgtext{
  position: absolute;
  top: 50%;
  color:maroon;
  left: 50%;
  transform: translate(-50%, -100%);
  font-family: chawp,sans-serif;
  font-size: 2em;
}
#sticky2{
  width:24em;
  right:-5em;
  filter: brightness(75%) drop-shadow(10px 10px 15px black) ;
  transform: rotate(12deg);
  position:absolute;
  transform-origin: top left;
}
#upperjaw{
  width:50em;
  position:absolute;
  top:-5em;
  pointer-events: none;
  left:-3.5em;
}

/*.halftone {*/
/*  z-index: -1;*/
/*  --mask: linear-gradient(rgb(0 0 0), rgb(0 0 0 / 0.5));*/
/*  --stop1: 0.06rem;*/
/*  --stop2: 0.65rem;*/
/*  --invert: 0;*/
/*  --dotColor: black;*/
/*  --bgColor: white;*/
/*  --bgSize: 1.4rem;*/
/*  --bgPosition: calc(var(--bgSize) / 2);*/
/*  --dottedBackground: radial-gradient(circle at center, var(--dotColor) var(--stop1), transparent var(--stop2)), radial-gradient(circle at center, var(--dotColor) var(--stop1), transparent var(--stop2));*/
/* height: 100%;*/
/*  width: inherit;*/
/*  position: absolute;*/
/*  background: var(--bgColor);*/
/*  filter: contrast(50) invert(var(--invert, 0));*/
/*  mix-blend-mode: screen;*/

/*}*/

/*.halftone::after {*/
/*  content: '';*/
/*  position: absolute;*/
/*  inset: 0;*/
/*  background-image: var(--dottedBackground);*/
/*  background-size: var(--bgSize, 1rem) var(--bgSize, 1rem);*/
/*  background-repeat: round;*/
/*  background-position: 0 0, var(--bgPosition) var(--bgPosition);*/
/*  mask-image: var(--mask);*/
/*}*/

#bunting1 {
  position: fixed;
  top:0;
  left:0;
  pointer-events: none;
  width:auto;
}
#dotcom {
  position: fixed;
  z-index: 999;
  margin:auto;
  pointer-events: none;
  filter: drop-shadow(5px 5px 15px black) drop-shadow(5px 5px 15px black);
  top:-30px;
  width:auto;
}
#bunting2 {
  position: fixed;
  top:0;
  right:0;
  pointer-events: none;
  width:auto;
}
#tape1{
  transform: rotate(50deg);
  width:8em;
  right:-3em;
  pointer-events: none;
  top:0;
  position: absolute;
}
#tape2{
  transform: rotate(40deg);
  width:8em;
  left:-3em;
  bottom:0;
  pointer-events: none;
  position: absolute;
}
.Sidebar strong{
  font-family: cutout, sans-serif;
  color:var(--red);
  font-size: 3em;
}
img{
  width:inherit;
}
h1 {
  font-size:3em;
  line-height: 0.8em;
  margin: 0 0 0 1rem;
}
body {
  cursor: url("img/cursor1.png"), auto;
  width:100vw;
  height:100vh;
  overflow: clip;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0;
  padding:0;
}
body * {
  image-rendering: pixelated;
}

#positioner{
  width:80vw;
  height:60vh;
}
#eyes1 {
  position: absolute;
  width:auto;
  right:-2em;
  pointer-events: none;
  bottom: -1em;
}
a,button{
  all:unset;
  cursor: url("img/cursor2.png"), auto;

}

#wrapper{
  display:flex;
  flex-direction: column;
  margin-left: 1em;
}

#wrapper h2{
  margin:0;
  line-height: 0.8em;
  padding: 0;
}
#wrapper h2:nth-child(3) a{
  display: inline-block;
  position: relative;
  color: red;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    z-index: -1;
    transform: scaleX(0);
    height: 100%;
    bottom: 0;
    left: 0;
    background-color:red;
    transform-origin: bottom right;
    transition: transform 0.5s steps(6);
  }
  &:hover{
    color:black;
    &::before{
      content:" > ";
    }
    &::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
#wrapper h2:nth-child(5) a{
    display: inline-block;
    position: relative;
    color: gold;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      z-index: -1;
      transform: scaleX(0);
      height: 100%;
      bottom: 0;
      left: 0;
      background-color:gold;
      transform-origin: bottom right;
      transition: transform 0.5s steps(6);
    }
    &:hover{
      color:black;
      &::before{
        content:" > ";
      }
      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
}
#wrapper h2:nth-child(7) a{

    display: inline-block;
    position: relative;
    color: royalblue;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      z-index: -1;
      transform: scaleX(0);
      height: 100%;
      bottom: 0;
      left: 0;
      background-color:royalblue;
      transform-origin: bottom right;
      transition: transform 0.5s steps(6);
    }
    &:hover{
      color:black;
      &::before{
        content:" > ";
      }
      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }

}
#wrapper h2:nth-child(9) a{

    display: inline-block;
    position: relative;
    color: cyan;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      z-index: -1;
      transform: scaleX(0);
      height: 100%;
      bottom: 0;
      left: 0;
      background-color:cyan;
      transform-origin: bottom right;
      transition: transform 0.5s steps(6);
    }
    &:hover{
      color:black;
      &::before{
        content:" > ";
      }
      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
}



header {
  display: flex;
  flex-direction: row;
  background: grey;
  color:black;
}
header  *{  margin: 0;
  padding:0;
  height: 1em;
  line-height: 1em}

header h2:nth-child(1){
  &.notCurrent{
    &:hover{background-color: lightgrey}
  }
}
header h2:nth-child(2){
  &.currentPage{
    background-color: black;
    color:red;
  }
  &.notCurrent{
    &:hover{background-color: lightgrey}
  }
}
header h2:nth-child(3){
  &.currentPage{ background-color: black;
    color:gold;}
  &.notCurrent{
    &:hover{background-color: lightgrey}
  }
}
header h2:nth-child(4){
  &.currentPage{ background-color: black;
    color:royalblue;}
  &.notCurrent{
    &:hover{background-color: lightgrey}
  }
}
header h2:nth-child(5){
  &.currentPage{ background-color: black;
    color:cyan;}
  &.notCurrent{
    &:hover{background-color: lightgrey}
  }
}


#bio{
  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "avatar text"
    "stats options";
  gap: 1em;
}

#bio img{
  width:100%;
  /*border:5px red solid;*/
  grid-area: avatar;
}
#bio #biotext{
  grid-area: text;
  /*border:5px red solid;*/
  padding:1em;
  font-size: 1.5em;
}
#bio #options{
  font-size: 1.3em;
  /*grid-area: options;*/
}

#bio #options ul {
  font-size: 1.5rem;
}

#bio #options ul li{
  list-style-type: none;
  &:hover{cursor: url("img/cursor2.png"), auto;}
}

#bio #options ul li:nth-child(1){
  color:red;
  opacity:0.5;
  &:hover{  opacity:1;}
}
#bio #options ul li:nth-child(2){
  color:gold;
  opacity:0.5;
  &:hover{  opacity:1;}
}
#bio #options ul li:nth-child(3){
  color:royalblue;
  opacity:0.5;
  &:hover{  opacity:1;}
}
#bio #options ul li:nth-child(4){
  color:cyan;
  opacity:0.5;
  &:hover{  opacity:1;}
}


#linkList {
  font-size: 1em;
  color:red;
}

#linkList p{
  color:cyan;
  display:inline;
  opacity:0.5;
}
#linkList a{
  font-size: 2em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}


.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}
